USE [RevPro]
GO
/****** Object:  Table [dbo].[StraightLineContracts]    Script Date: 11/16/2017 5:13:53 PM ******/
DROP TABLE [dbo].[StraightLineContracts]
GO
/****** Object:  Table [dbo].[StraightLineContracts]    Script Date: 11/16/2017 5:13:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StraightLineContracts](
	[ContractID] [int] NULL,
	[Waterfall_Amt] [money] NULL,
	[Waterfall_Stub_Amt] [money] NULL,
	[Contract_Final_Amt] [money] NULL,
	[StraightLine_Flg] [bit] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[StraightLineContracts] ([ContractID], [Waterfall_Amt], [Waterfall_Stub_Amt], [Contract_Final_Amt], [StraightLine_Flg]) VALUES (9438, 515.9728, 416.1321, 99482.9119, 1)
INSERT [dbo].[StraightLineContracts] ([ContractID], [Waterfall_Amt], [Waterfall_Stub_Amt], [Contract_Final_Amt], [StraightLine_Flg]) VALUES (10113, 511.8810, 511.8810, 81900.9600, 1)
INSERT [dbo].[StraightLineContracts] ([ContractID], [Waterfall_Amt], [Waterfall_Stub_Amt], [Contract_Final_Amt], [StraightLine_Flg]) VALUES (43512, 783.3206, 75.8254, 105824.1064, 1)
GO
